<p class="text-right">
    Welcome <b><%= @conn.assigns.user.name %></b>
</p>
<nav>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/">Home</a>    
        </li>
        <li>
            <%= link "Absence Requests", to: absence_request_path(@conn, :index) %>    
        </li>
        <li class="active">
            <%= link "Sign Out", to: auth_path(@conn, :signout) %>    
        </li>
    </ul>
</nav>
