<h2>Edit Absence request</h2>

<%= render "form.html", Map.put(assigns, :action, absence_request_path(@conn, :update, @absence_request)) %>

<span><%= link "Back", to: absence_request_path(@conn, :index) %></span>
