<div class="jumbotron">
  <p class="lead">Review and mange your absence requests with ease.<br />Proudly 100% Visma-free!</p>
</div>

<%= if (@conn.assigns[:user]) do %>
<% else %>
<div class="text-center">
  <h4>Sign in with your <%= Application.get_env(:absence_register, :valid_domain) %> account to get started</h4>
</div>
<% end %>